link(rel="stylesheet", href="/css/layout/footer.css")
footer.footer
  .footer-container
    .footer-section.quick-access
      h3.footer-title دسترسی سریع
      ul.footer-links
        li
          a(href='/') صفحه اصلی
        li
          a(href='/services') خدمات ما
        li
          a(href='/products') محصولات
        li
          a(href='/articles') مقالات
        li
          a(href='/about') درباره ما
        li
          a(href='/contact') تماس با ما

    .footer-section.about
      h3.footer-title درباره سی ان سی برتر
      p.footer-description
        | مجموعه CNC گستر در سال 1374 با هدف طراحی و ساخت انواع قطعات صنعتی، مخابراتی، 
        | پتروشیمی، قالب سازی، جیگ و فیکسچر و.. . آغاز به کار نمود. پس از گذشت 30 سال و انجام پروژه 
        | های متعدد و متنوع، یکی از مجریان توانمند و شناخته شده درعرصه صنعت می باشد. 
        | این شرکت با بکارگیری نیروهای متخصص و کارآمد همچنین استفاده از تجهیزات و ماشین آلات بروز 
        | آمادگی خود را برای انجام هرگونه خدمات طراحی و ساخت قطعات سه و چهارمحور اعلام می دارد.
      .map-view 
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d663.7120431912838!2d51.33024597697675!3d35.676126231244005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfe375ee4e513%3A0x6cd340a17dff09dd!2sHamid%20Molding!5e0!3m2!1sen!2sde!4v1753951115942!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
    .footer-section.contact
      h3.footer-title تماس با ما
      .contact-info
        .contact-item
          i.fas.fa-map-marker-alt
          span تهران، آزادی، بعد از میدان فتح، مقابل پابگاه شکاری، خیابان شهید کوسه لو، (سرآسیاب مهرآباد سابق) پلاک 47 (روبه روی مسجد رسالت)
        .contact-item
          i.fas.fa-phone
          span 021-66612134
        .contact-item
          i.fas.fa-mobile-alt
          span 09121974633
        .contact-item
          i.fas.fa-mobile-alt
          span 09017765682
        .contact-item
          i.fas.fa-envelope
          span hamidfarokhian149@gmail.com
      .social-links
        a.social-link(href='http://instagram/cnc_bartar' target='_blank')
          i.fab.fa-instagram
        a.social-link(href='#' target='_blank')
          i.fab.fa-whatsapp
        a.social-link(href='#' target='_blank')
          i.fab.fa-telegram-plane

  .footer-bottom
    p.copyright © ۱۴۰۳ سی ان سی برتر. تمامی حقوق محفوظ است.


