link(rel='stylesheet' href='/css/layout/popup.css')

div.modal-overlay#contactus-form-modal
    div.modal-box
        h3.modal-title اطلاعات خود را برای مشاوره وارد کنید.
        p.modal-subtitle همکاران ما در اولین فرصت با شما تماس خواهند گرفت.
        form(action="/contactus", method="POST")
            input.text-input(type="text", placeholder="نام و نام خانوادگی" name="fullname")
            input.text-input(type="text", placeholder="شماره موبایل" name="phone")
            textarea.textarea-input#order-description(name="description" placeholder="متن پیام")
            button.confirm-button(type="submit") تایید
        button.cancel-button#contactus-cancel انصراف
        .order-contacts
            .row 
                a(href="mailto:hamidfarokhian149@gmail.com")
                    | hamidfarokhian149@gmail.com
                    i.fa.fa-envelope
            .row 
                a(href="tel:02166612134")
                    | 021-66612134
                    i.fa.fa-phone
            .row 
                a(href="tel:09121974633")
                    | 09121974633 
                    i.fa.fa-phone

script.
    $(document).ready(()=> {
        $('#contactus-cancel').click(() =>{
            $('#contactus-form-modal').hide();
        })
    })